* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden; 
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: rgb(112, 9, 9);
  font-family: Arial, Helvetica, sans-serif;
  border-top: 4px solid rgb(255, 229, 0);
  border-bottom: 4px solid rgb(255, 229, 0);
  font-size: 1.6vw;
  line-height: 1.5;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-weight: 800;
  font-family: inherit;
  border: 20px solid transparent;
}

td {
  height: calc(90vh / 9); /* Adjust based on how many rows you have */
}
th {
  font-weight: 800;
  padding: 15px;
}

.modal,
.modal2 {
  position: relative;
  width: 90%;
  background-image: url("images/tatami-bg.png");
  background-repeat: repeat;
  /* display: inline-block; */
}
.modal-box {
  display: flex;
  justify-content: space-between;
}
.drivein-box {
  align-self: flex-end;
  margin-right: 15px;
}
.drivein {
  height: 75px;
  width: 75px;
  border: 5px solid whitesmoke;
  background-color: rgb(209, 12, 12);
  color: whitesmoke;
  border-radius: 50%;
  outline: none;
}
.drivein:hover {
  background-color: rgb(112, 9, 9);
}

.rates,
.los {
  width: 370vw;
}

.room-type,
.los,
.rates,
.week-el {
  border: 1px solid whitesmoke;
}
.rates {
  background-color: rgb(209, 12, 12);
  color: whitesmoke;
}
.room-type,
.los,
.week-el {
  background-color: rgb(243, 243, 42);
}
.date-el {
  color: whitesmoke;
}
.logo {
  width: 250px;
}

.bg-logo {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.weekday,
.weekend,
.onp,
.weekday-drivein,
.weekend-drivein,
.drivein-onp,
.modal2 {
  display: none;
}
/* DRIVEIN */

.walkin-banner {
  position: fixed;
  width: 420px;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(255, 246, 216, 0) 0%,
    rgba(255, 223, 118, 1) 30%,
    rgba(255, 222, 114, 1) 25%,
    rgba(255, 246, 216, 1) 50%,
    rgba(255, 222, 114, 1) 70%,
    rgba(255, 246, 216, 0) 100%
  );
  color: #800000;
  font-weight: 700;
}

/* Responsive Design for All Desktop Screens */
@media (min-width: 1920px) {
  td {
    height: calc(90vh / 8); /* Adjust based on how many rows you have */
  }
  .logo {
    width: 350px;
  }
  .walkin-banner {
    width: 550px;
    font-size: 40px;
  }
  .drivein {
    height: 100px;
    width: 100px;
    font-weight: 700;
  }
}

@media (min-width: 1536px) and (max-width: 1560px) {
  td {
    height: calc(90vh / 8); /* Adjust based on how many rows you have */
  }
  .logo {
    width: 350px;
  }

  .drivein {
    height: 100px;
    width: 100px;
    font-weight: 700;
  }
}
@media (min-width: 1440px) and (max-width: 1450px) {
  td {
    height: calc(90vh / 8); /* Adjust based on how many rows you have */
  }
  .logo {
    width: 350px;
  }

  .drivein {
    height: 100px;
    width: 100px;
    font-weight: 700;
  }
}
@media (min-width: 1366px) and (max-width: 1380px) {
  td {
    height: calc(90vh / 8); /* Adjust based on how many rows you have */
  }
  .logo {
    width: 270px;
  }

  .drivein {
    height: 100px;
    width: 100px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) and (max-width: 1290px) {
  td {
    height: calc(90vh / 8.5); /* Adjust based on how many rows you have */
  }
  .logo {
    width: 270px;
  }

  .drivein {
    height: 100px;
    width: 100px;
    font-weight: 700;
  }
}
